@charset "UTF-8";

body {
    background-color: #FFFFFF;
}

h1 {
    font-family: "Arial Black";
    color: black;
    font-size: 100px;
    text-align: center;
}

h2 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

.important {
    /*   color: #990000; */
    font-weight: bold;
    font-size: 25px;
}

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
        font-size: 32px;
    }

    /*   .important{
      font-size: 40px; */
}

.toWeb {
    font-weight: bold;
    font-size: 20px;
    font-family: "Hiragino Sans", "ヒラギノ角ゴシック";
}

ul {
    display: flex;
    list-style: none;
}

li {
    list-style: none;
    font-size: 15px;
    display: flex;
}

.headInfo {
    display: inline-block;
    font-size: 20px;
}